<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    </head>
    <body>
        {% include 'nav_bar.html' %}
        <div class="container">
            <p class="heading-txt" style="font-size: 2em; margin-bottom: 3%; text-align: center;">Contact</p>
            <div style="margin-top: 5%;display: flex; justify-content: space-evenly; flex-wrap: wrap;">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Customer Care</h5>
                    <p class="card-text">Name: Angela </br>
                        Office: +603339494940 </br>
                        Mobile: +601213939406 </br> 
                        Role: Customer Care Manager</br>
                        Email: Angela@dealership.com </br>
                        
                     </p>
                </div>
            </div>
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Operation Service</h5>
                    <p class="card-text">
                        Name: John </br> 
                        Office: +603339494 </br>
                        Mobile: +6012493939 </br> 
                        Role: Operation Manager</br>
                        Email: John@dealership.com</br>
                        
                     </p>
                </div>
            </div>
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
                    <p class="card-text">
                        Name: Elisa </br> 
                        Office: +60333838382 </br>
                        Mobile: +60128399322 </br> 
                        Role:  Marketing Manager</br>
                        Email: Elisa@dealership.com</br>
                    </p>
                </div>
            </div>
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Sale</h5>
                    <p class="card-text">
                        Name: Maxwil </br>
                        Office: +6033349595</br>
                        Mobile: +6013449593</br>
                        Role: Sale Manager </br>
                        Email: Maxwil@dealership.com </p>
                </div>
            </div>
                    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header">Contact Information</div>
                <div class="card-body">
                    <h5 class="card-title">Human Resource</h5>
                    <p class="card-text">
                        Name: Cecilia </br>
                        Office: +60333379684 </br>
                        Mobile: +60145606004 </br>
                        Role: HR Manager </br>
                        Email: Cecilia@dealership.com </p>
                </div>
            </div>
            </div>
        </div>
    </body>
</html>